/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* General */
body {
  background: url(../img/wallpaper.jpeg);
  margin: auto;
  width: 50%;
  text-align: left;
  color: white;
  font-size: 30px;
}
hr {
  margin-top: 10px;
}
/* end general */

/* block1 */
.block1 .icon {
  height: 100px;
  vertical-align: middle;
}
/* end block1 */

/* block2 */
.block2 .number{
  background-color: orange;
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
}
/* end block2 */

/* boxmail */
.boxmail {
  padding-top: 10px;
  padding-bottom: 10px;
}
  .content {
    color: grey;
  }
  .star {
    font-weight: bold;
    color: black;
  }
.boxmail .unread {
  background-color: lightgrey;
  border: 1px solid black;
  font-size: 20px;
  padding: 2px;
}
.boxmail .read {
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  padding: 2px;
}
/* end boxmail */


/* footer */
footer {
  text-align: center;
}

footer .text {
  font-size: 15px;
  font-style: italic;
}
/* end footer */
